.App {
  text-align: center;
  /* background-color: #282c34; */
  color: #282c34;
  width: 26%;
  margin-left: 37%;
  box-shadow: 0 0 10px;
}
.timer {
  border-bottom: solid 2px #282c34;
  padding: 15px 0px;
}
.ctrl-button {
  padding: 0px 10px;
}
.btn {
  margin-top: 20px !important;
}
.btn-update {
  margin-right: 20px !important;
}
